@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

a {
    color      : gray;
    font-size  : 17px;
    font-weight: medium;
}

.show {
    animation: show-line 0.5s linear forwards;
}


@keyframes show-line {
    from {
        width   : 13vw;
        overflow: hidden;
    }

    to {
        width: 5vw;
    }
}

.span-show {

    animation: 1s span-show forwards;
}

.span-show-reverse {

    animation: 1s span-show-reverse forwards;
}


@keyframes span-show {
    from {
        opacity   : 0;
        visibility: hidden;
    }

    to {
        opacity   : 1;
        visibility: visible;
    }
}